<div class="container">
  <h1><%= t('welcome') %></h1>
  <div class="row">
    <div class="col-md-12">
      <main class="clearfix">
        <% @category.each do |category| %>
          <%= content_tag(:div, content_tag(:p, category.name), class: 'btn btn-primary listing') %>
        <% end %>
      </main>
    </div>
  </div>
</div>