// Place all the styles related to the City controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  background-color: #EBEBEB;
  padding: 6px;
  margin: 6px;
}

.charity, .charity:visited {
  color: green;
}