<footer class="navbar navbar-fixed-bottom footer">
  <div class="container">
    <div class="col-xs-3">
      <p class="text-muted">&copy; <%= Time.now.year %> ChairityList.</p>
    </div>
    <div class="col-xs-3">
      <%= link_to 'About Us', about_path, class: 'text-muted' %>
    </div>
    <div class="col-xs-3">
      <%= link_to 'FAQs', faq_path, class: 'text-muted' %>
    </div>
    <div class="col-xs-3">
      <%= link_to 'Contact Us', contact_path, class: 'text-muted' %>
    </div>
  </div>
</footer>